@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  color:"white"
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

.debug{
  @apply outline-1 outline-red-600 outline-dashed
}

