@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    /* montserrat-regular - latin */
    @font-face {
      font-family: "Montserrat-Regular";
      font-style: normal;
      font-weight: 400;
      src: url("./assets/fonts/montserrat-v24-latin-regular.woff2") format("woff2");
    }
    /* montserrat-700 - latin */
    @font-face {
      font-family: "Montserrat-Med";
      font-style: normal;
      font-weight: 700;
      src: url("./assets/fonts/montserrat-v24-latin-700.woff2") format("woff2");
    }
  
  }